.popup__input {
  max-width: 450px;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  border-radius: 5px;
}

.popup__input:first-child {
  margin-top: 30px;
}

.popup__input:focus {
  outline-color: green;
}

.popup__input:invalid {
  outline-color: red;
}