.footer__caption {
  margin: 46px auto 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #828282;
}

@media screen and (max-width: 800px) {
  .footer__caption {
    margin-top: 49px;
  }
}