.portfolio__add-card {
  display: flex;
  max-width: 90%;
  padding: 0 30px 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 425px) {
  .portfolio__add-card {
    justify-content: center;
  }
}