.presentation-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 65px 30px 0;
  box-sizing: border-box;
  position: relative;
  /* visibility: hidden; */
}

@media screen and (min-width: 475px) {
  .presentation-mobile {
    visibility: hidden;
    height: 0;
    padding: 0;
  }
}