@media screen and (max-width: 425px) {
  .header__close-btn {
    background-image: url(../../../images/cls-btn.png);
    background-repeat: no-repeat;
    min-width: 23px;
    min-height: 23px;
    top: 66px;
    right: 28px;
    cursor: pointer;
  }  
}