.portfolio__add-btn {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  background-image: url(../../../images/plus.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15%;
}

@media screen and (max-width: 425px) {
  .portfolio__add-btn {
    margin-top: 20px;
  }
}