
.header__unit {
  text-decoration: none;
  cursor: pointer;
  color: #828282;
  transition: color .3s linear;
}

.header__unit:hover {
  color: #000;
}

@media screen and (max-width: 425px) {
    .header__unit {
    text-decoration: none;
    cursor: pointer;
    color: #828282;
    transition: color .3s linear;
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 68px;
  }

  .header__unit:hover {
    color: #000;
  }
}
