.header-mobile__menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 32px 0 33px;
  white-space: nowrap;
}

@media screen and (max-width: 425px) {
    .header-mobile__menu {
    list-style-type: none;
    display: flex;  
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 1px;
  }
}

