.presentation__annotation {
  margin: auto;
  max-width: 156px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding-top: 20px;
}

@media screen and (max-width: 425px) {
  .presentation__annotation {
    max-width: 139px;
    margin: 23px 0 0;
    padding-top: 0;
  }
}